* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: #191919;
    font-size: 1em;
    height: 200vw;
}

.eighty, #trending, .aside {
    width: 80vw;
    margin: 0 auto;
}

header {
    display: flex;
}

header, #mainTitle {
    background-color: #ffc017;
    border-bottom: 1px solid #191919;
    width: 100%;
}

/* HEADER */

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 10vh;
}

#headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    color: #191919;
    margin: 10px;
}

#start, #titleContent button {
    background-color: #191919;
    border-radius: 30px;
    padding: 10px;
}

#start a, #titleContent button {
    color: white;
}

/* TITLE */

#mainTitle, #title {
    height: 30em;
}

.ninety {
    width: 90vw;
    float: right;
}

#title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titleContent {
    flex-basis: 40%;
    font-size: 1.4em;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#titleContent h1 {
    letter-spacing: -7px;
    font-size: 4.5em;
    font-family: "Spectral", serif;
    margin: 0;
    font-weight: normal;
}

#titleContent p {
    width: 80%;
}

#titleContent button {
    width: 250px;
    font-size: 0.8em;
}

#mm, #titleContent {
    height: 100%;
}

/* SECTION TRENDING */

.trending {
    border-bottom: 1px solid gray;
}

#trending {
    margin-top: 40px;
    margin-bottom: 40px;
}

#trendingTitle {
    font-weight: bold;
    display: flex;
    align-items: center;
}

#trendingTitle span {
    margin-left: 10px;
}

#trendingContent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.trendingArticle {
    display: flex;
    flex-basis: 28%;
    margin: 10px 25px;
}

.number {
    margin-right: 20px;
    font-size: 2em;
    font-weight: bold;
    color: rgb(193, 192, 192);
}

.trendingSubtitle {
    display: flex;
    align-items: center;
    font-size: 0.8em;
}

.trendingSubtitle span {
    margin-left: 10px;
    font-weight: bold;
}

.trendingParagraph img {
    border-radius: 50%;
}

.trendingParagraph p {
    display: flex;
    align-items: center;
    color: rgb(101, 101, 101);
}

.trendingParagraph p svg {
    margin-left: 5px;
}

/* ASIDE  */






